<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouTiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0673B7361CAE2D06001FBF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0673B7451CAE2D06001FBF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0673B7501CAE2D06001FBF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
